* {
  background-color: black;
}

/* .head2 {
  color: white;
} */
/* .head2 {
  color: rgb(10, 200, 110);
} */
/* .head2 {
  color: #fff;
} */
.head2 {
  background-color: rgb(239, 243, 243, 0.2);
  /* opacity: 0.5; */
}
